{% extends "base_template/base.html" %}
{% block containerfluid %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List of all registered employees</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width: 10px;">No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Position</th>
                            <th>Username</th>
                            <th>AppsID</th>
                            <th>Level</th>
                            <th>Type</th>
                            <!-- <th>Domain</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 14px;">
                        {% for user in all_users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.department }}</td>
                            <td>{{ user.position }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.apps_id }}</td>
                            <td>{{ user.level }}</td>
                            <td>{{ user.type }}</td>
                            <!-- <td>{{ user.domain }}</td> -->
                            <td><a href="{{ url_for('main.user_edit', id=user.id) }}">Edit</a> / <a href="{{ url_for('main.user_delete', id=user.id) }}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock containerfluid %}