{% extends "base_template/v2/baseV2.html" %}
{% block title %}IT Team{% endblock title %}
{% block containerfluid %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">(Embedding charts from) IT Team</h3>
            </div>
            <div class="box-body">
                <!-- <iframe title="PPI_Availability" width="1040" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=6330d298-178e-4435-8fec-eff7e3c061c8&autoAuth=true&ctid=0c34c290-ab09-4838-ac5a-0d4cba46a113" frameborder="0" allowFullScreen="true"></iframe> -->
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- <iframe title="PPI_Availability" class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiMWE4Mzc2YzUtYjliMS00MmU1LWI4MGItZDdkYWU1ZTBmMmNkIiwidCI6IjBjMzRjMjkwLWFiMDktNDgzOC1hYzVhLTBkNGNiYTQ2YTExMyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> -->
                    <iframe title="PPI_Availability" class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiZDI2YTQyZmEtZTFhZS00MWM2LThmY2YtYjQ5ZGI0NDg2NWY4IiwidCI6IjBjMzRjMjkwLWFiMDktNDgzOC1hYzVhLTBkNGNiYTQ2YTExMyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock containerfluid %}