{% extends "base_template/v2/baseV2.html" %}
{% block title %}Power AD Connection{% endblock title %}
{% block customcss %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='static/v2/plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock customcss %}
{% block containerfluid %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">AD Account Queue</h3>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Department</th>
                            <th>Position</th>
                            <th>Email</th>
                            <!-- <th>Distinguishedname</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users_from_ad %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <!-- <td> user.lastname.replace("–", "-").split("-")[0].strip() </td> -->
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.department }}</td>
                            <td>{{ user.position }}</td>
                            <td>{{ user.email_domain }}</td>
                            <!-- <td></td> -->
                            <td><a href="{{ url_for('powerad.export_user', username=user.username) }}">Export</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- flash -->
{% with errors = get_flashed_messages(category_filter=["ready"]) %}
{% if errors %}
<script>
    alert(`{{ errors[0] }}`)
</script>
{% endif %}
{% endwith %}
<!-- endflash -->

{% endblock containerfluid %}
{% block customjs %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='static/v2/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='static/v2/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
{% endblock customjs %}
{% block customotherjs %}
<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
{% endblock customotherjs %}